# Python
__pycache__/
*.pyc
.venv/
venv/
*.egg-info/

# Pytest
.pytest_cache/

# IDE
.idea/
.vscode/

# Data & Models (Artifacts)
data/
output_fastparquet/
models/*.zip
models/*.onnx
.env
# Logs and Reports
*.log